/*** CORE HTML ***/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Barlow", sans-serif;
    overflow-y: scroll;
}

/*** REUSABLE CLASSES ***/
.main-container {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0 0 0;
}

/* Colors */
.bg-main-green {
    background-color: #5C967D;
}

.color-primary {
    color: #5C967D;
}

.color-secondary {
    color: #B5C9C3;
}

.color-final {
    color: #507DBC;
}

/* Buttons */
.btn-site-main {
    color: white !important;
    background-color: #5C967D !important;
    border-color: #5C967D !important;
}

/* A smaller button of the main button */
.btn-sm, .btn-lg, .btn-primary-color {
    color: white !important;
    background-color: #5C967D !important;
    border-color: #5C967D !important;
}

/* Navigation */
.navbar-brand {
  color: #14080E !important;
}

.navbar-nav ul, li {
  list-style-type: none !important;
}

.nav-item a:link, .nav-item a:visited, .nav-item a:hover {
  color: #14080E !important; 
}

.dropdown-toggle, .navbar-toggler-icon {
  color:  #14080E !important;
}

.dropdown-menu a:link, .dropdown-menu a:visited {
  color: #14080E !important;
}

.dropdown-menu a:hover {
  background-color: #B5C9C3 !important; 
}

/* Typography */
.page-header {
  text-align: center;
  font-weight: 350;
  padding-top: 1vw;
  color: #5C967D !important; 
}

.section-header {
  font-weight: 300;
  pading-top: 1vw;
}

.lower-weight {
  font-weight: 150;
}

/*** HOME ***/
.carousel-image {
  height: 75%;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

/** TASKS ***/
.option-input.radio {
    appearance: none;
    position: relative;
    top: 10.3px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.15s ease-out 0s;
    background: #B5C9C3;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 16.7px;
    text-align: center;
    line-height: 30px
}

.option-input:hover {
    background: #5C967Daa;
}

.option-input:checked {
    background: #5C967D;
}

input[type=checkbox]:checked + span.label-text{
  text-decoration: line-through;
  content: "\f00c" !important;
  color: #000;
}

/*** About Us + Contact Us ***/
.page-link a:visited, .page-link a:active, .page-link a:link {
	color: #14080E !important;
}
